*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    background-color: white;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.4);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input,select,textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 4px;
}
input,select,textarea:focus{
    outline-color: slateblue;
}

.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: black;
    border: transparent solid 2px;
    padding: 10px;
    color: white;
    border-radius: 7px;
    transition: 0.3s ease-in;
    cursor: pointer;
}
button:hover{
    background-color: slateblue;
    transition: 0.3s ease-out;
}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
}

@media (max-width: 460px){
    .textarea_control{
        grid-column: 1 / span 1;
    }
}